img {
    behavior: url( pngbehavior.htc );
}

.coolplayer_wrapper {
    display: block;
    margin: 12px 0 12px 24px;
    text-indent: 0!important;
}

.coolplayer_playlist, .coolplayer_info {
    display: block;
    margin: 0;
    background-color: #F9FBFC;
    border: 1px solid #C3CED9;
    text-align: center;
    line-height: 180%;
    overflow: visible;
}

.coolplayer_moz {
  display: block;
}